/* starting a basic css stylesheet */

.menu {
	list-bottom: 0.1 solid black;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before{
	content: "[";
}

.menu:after{
	content: "]";
}

.menu > li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
	content: "";
	paddng: 0;
}